<% include layout %>

<div class="row"> 
    <div class="col-md-4 col-md-offset-4">
        <h2>Iniciar Sesión</h2>       

        <form action="/autenticar" method="POST">
        <div class="form-group">
            <input type="text" name="nick" id="nick"
            class="form-control" required placeholder="Ingrese su nick"/>
        </div>
        <div class="form-group">
            <input type="password" name="contrasena" id="contrasena"
            class="form-control" required placeholder="Ingrese la contraseña"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Iniciar</button>
            <a href="/registrar" class="btn btn-primary">Registar</a>
        </div>
    </form>
    </div>
</div>
