    </div>
    <script src="/jquery/jquery.js" type="text/javascript"></script>
    <script src="/knockout/knockout-latest.js" type="text/javascript"></script>
    <script stc="javascripts/registrar.js"></script>
</body> 