    </div>
    <script src="/jquery/jquery.js" type="text/javascript"></script>
    <script src="/knockout/knockout-latest.js" type="text/javascript"></script>
    <script src="javascripts/usuarioCliente.js" type="text/javascript"></script>        
</body> 