<% include layout %>
<div class="row">
  <div class="page-header">
    <h1>Contacto</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Versus</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>IdVersus</th>
          <th>Nick</th>
          <th>Fecha</th>          
        </tr>
      </thead>
      <tbody data-bind="foreach: versus">
        <tr>
          <td data-bind="text: idVersus"></td>
          <td data-bind="text: nick"></td>
          <td data-bind="text: fecha"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<% include footer %>